@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .ref{
        @apply border-red-500 border-2 border-solid;
    }
    .circular_card{
        @apply w-36 h-36 rounded-full m-10 shadow-3xl;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

.card{
    min-width: 380px;
    max-width:380px;
    height:fit-content;
    background: #FFF;
    box-shadow: 10px 16px 24px 10px rgba(118, 118, 178, 0.24);
}


input:focus{
    background:transparent
}

.carousel::-webkit-scrollbar {
    display: none;
}